* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ECE8DD;
    gap: 50px;
    font-family: "Roboto", sans-serif;
}

#calc-container {
    height: 567px;
    width: 362px;
    background: #FAF7F0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.display {
    height: 80px;
    width: 332px;
    margin: auto;
    margin-top: 15px;
    
    background: #ffffff3d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #514545;
    font-size: 20px;
    font-weight: bold;
    padding-right: 15px;
    overflow-x:auto;
    text-align: end;
}

.buttons-container {
    height: 417px;
    width: 332px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    

}

.buttons-container button {
    width: 75px;
    height: 75px;
    background-color: #ffffff3d;
    border: none;
    border-radius: 10px;
    color: #514545;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out 0s;
}

.buttons-container button:hover {
    transform: scale(0.9);
}



.buttons-container>#result {
    width: 160px;
    height: 75px;
}

#credit a:hover {
    border-bottom: 1px solid black;
}